PracticeWebAPIUsage/PracticeWebAPIUsage/Web References/localhost/PracticeAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PracticeAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44349/PracticeAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44349/PracticeAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44349/PracticeAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAPISaopBase.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPracticeAPI_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IPracticeAPI_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeAPI_GetDeparments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparments" />
  </wsdl:message>
  <wsdl:message name="IPracticeAPI_GetDeparments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeAPI_GetDeparmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparmentById" />
  </wsdl:message>
  <wsdl:message name="IPracticeAPI_GetDeparmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparmentByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPracticeAPI">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeAPI/DoWork" message="tns:IPracticeAPI_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeAPI/DoWorkResponse" message="tns:IPracticeAPI_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeparments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeAPI/GetDeparments" message="tns:IPracticeAPI_GetDeparments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeAPI/GetDeparmentsResponse" message="tns:IPracticeAPI_GetDeparments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeparmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeAPI/GetDeparmentById" message="tns:IPracticeAPI_GetDeparmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeAPI/GetDeparmentByIdResponse" message="tns:IPracticeAPI_GetDeparmentById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPracticeAPI" type="tns:IPracticeAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IPracticeAPI/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeparments">
      <soap:operation soapAction="http://tempuri.org/IPracticeAPI/GetDeparments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeparmentById">
      <soap:operation soapAction="http://tempuri.org/IPracticeAPI/GetDeparmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PracticeAPI">
    <wsdl:port name="BasicHttpBinding_IPracticeAPI" binding="tns:BasicHttpBinding_IPracticeAPI">
      <soap:address location="http://localhost:60639/PracticeAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>